In [3]:
import pyspark
import pandas as pd

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     |████████████████████████████████| 12.3 MB 24.6 MB/s eta 0:00:01
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 31.5 MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 60.4 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     |████████████████████████████████| 502 kB 53.4 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /config/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /config/.local/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: numpy, tzdata, pytz, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/config/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.24.2 pandas-2.0.0 pytz-2023.3 tzdata-2023.3

In [6]:
df = pd.read_csv("trending.csv")
df.head(2)

,Unnamed: 0,id,original_title,original_language,release_date,popularity,vote_average,vote_count,media_type,adult
0,0,638974,Murder Mystery 2,English,2023-03-26,235.901,6.8,187,movie,False
1,1,677179,Creed III,English,2023-03-01,1537.879,7.2,561,movie,False

In [5]:
# need to initate a pyspark session
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('test').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/06 14:11:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
spark

In [6]:
# python dataframe 

df_pyspark = spark.read.csv('trending.csv')

In [13]:
# print using spark function
df_pyspark.show()

+----+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
| _c0|    _c1|                 _c2|              _c3|         _c4|       _c5|         _c6|       _c7|       _c8|  _c9|
+----+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
|null|     id|      original_title|original_language|release_date|popularity|vote_average|vote_count|media_type|adult|
|   0| 638974|    Murder Mystery 2|          English|  2023-03-26|   235.901|         6.8|       187|     movie|False|
|   1| 677179|           Creed III|          English|  2023-03-01|  1537.879|         7.2|       561|     movie|False|
|   2| 726759|              Tetris|          English|  2023-03-15|    66.661|         7.7|       100|     movie|False|
|   3|  76600|Avatar: The Way o...|          English|  2022-12-14|  10224.28|       7.742|      6335|     movie|False|
|   4| 849869|              길복순|           Korean|  2023-02-17|    33.985|         6.9|        39|     movie|False|
|   5| 603692|John Wick: Chapter 4|          English|  2023-03-22|  2569.508|       8.161|       635|     movie|False|
|   6| 493529|Dungeons & Dragon...|          English|  2023-03-23|   702.523|       7.598|       128|     movie|False|
|   7| 932430|           Prom Pact|          English|  2023-03-30|    85.403|         8.0|        10|     movie|False|
|   8|  95558|                null|          English|        null|    64.625|         8.0|         8|        tv|False|
|   9| 816904|              Momias|            Spain|  2023-01-05|   1224.45|       7.008|        64|     movie|False|
|  10| 514999|      Murder Mystery|          English|  2019-05-25|   197.421|       6.252|      3642|     movie|False|
|  11|1049638|            Rye Lane|          English|  2023-03-17|    30.374|       7.778|        18|     movie|False|
|  12| 739405|Operation Fortune...|          English|  2023-01-04|   184.229|       6.721|       297|     movie|False|
|  13| 158876|                null|          Chinese|        null|    58.304|         8.4|         9|        tv|False|
|  14| 921355|            Assassin|          English|  2023-03-31|    80.805|         4.8|        11|     movie|False|
|  15| 117465|                null|         Japanese|        null|    62.392|        10.0|         4|        tv|False|
|  16| 933419|           Champions|          English|  2023-03-09|   104.315|       6.512|        43|     movie|False|
|  17| 208891|                null|         Japanese|        null|    59.825|       8.667|         3|        tv|False|
|  18| 878375|On a Wing and a P...|          English|  2023-04-06|    53.714|         8.0|         4|     movie|False|
+----+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
only showing top 20 rows

In [7]:
# other way to print

df_pyspark_rd = spark.read.option("id","original_title").csv("trending.csv")

In [15]:
type(df_pyspark_rd)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark_rd.head() # not sure

Row(_c0=None, _c1='id', _c2='original_title', _c3='original_language', _c4='release_date', _c5='popularity', _c6='vote_average', _c7='vote_count', _c8='media_type', _c9='adult')

In [18]:
# print schema
df_pyspark_rd.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)

In [22]:
# tutorial2 topic list 
# pyspark dataframe
# reading the dataset
# checking the datatypes of the column
# selecting columns and indexing
# check describe option similar to pandas
# adding columns
# dropping  columns

In [25]:
# read the dataset using pyspark
df_pyspark_rd = spark.read.option("id","original_title").csv("trending.csv",inferSchema=True)

In [26]:
# check the schema
df_pyspark_rd.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)

In [25]:
# another way to read the csv
df_pyspark_hdr = spark.read.csv("trending.csv",header=True,inferSchema=True)

In [32]:
df_pyspark_hdr.show()

+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
|no.|     id|      original_title|original_language|release_date|popularity|vote_average|vote_count|media_type|adult|
+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
|  0| 638974|    Murder Mystery 2|          English|  2023-03-26|   235.901|         6.8|       187|     movie|false|
|  1| 677179|           Creed III|          English|  2023-03-01|  1537.879|         7.2|       561|     movie|false|
|  2| 726759|              Tetris|          English|  2023-03-15|    66.661|         7.7|       100|     movie|false|
|  3|  76600|Avatar: The Way o...|          English|  2022-12-14|  10224.28|       7.742|      6335|     movie|false|
|  4| 849869|              길복순|           Korean|  2023-02-17|    33.985|         6.9|        39|     movie|false|
|  5| 603692|John Wick: Chapter 4|          English|  2023-03-22|  2569.508|       8.161|       635|     movie|false|
|  6| 493529|Dungeons & Dragon...|          English|  2023-03-23|   702.523|       7.598|       128|     movie|false|
|  7| 932430|           Prom Pact|          English|  2023-03-30|    85.403|         8.0|        10|     movie|false|
|  8|  95558|                null|          English|        null|    64.625|         8.0|         8|        tv|false|
|  9| 816904|              Momias|            Spain|  2023-01-05|   1224.45|       7.008|        64|     movie|false|
| 10| 514999|      Murder Mystery|          English|  2019-05-25|   197.421|       6.252|      3642|     movie|false|
| 11|1049638|            Rye Lane|          English|  2023-03-17|    30.374|       7.778|        18|     movie|false|
| 12| 739405|Operation Fortune...|          English|  2023-01-04|   184.229|       6.721|       297|     movie|false|
| 13| 158876|                null|          Chinese|        null|    58.304|         8.4|         9|        tv|false|
| 14| 921355|            Assassin|          English|  2023-03-31|    80.805|         4.8|        11|     movie|false|
| 15| 117465|                null|         Japanese|        null|    62.392|        10.0|         4|        tv|false|
| 16| 933419|           Champions|          English|  2023-03-09|   104.315|       6.512|        43|     movie|false|
| 17| 208891|                null|         Japanese|        null|    59.825|       8.667|         3|        tv|false|
| 18| 878375|On a Wing and a P...|          English|  2023-04-06|    53.714|         8.0|         4|     movie|false|
| 19|  82856|                null|          English|        null|  1108.646|       8.488|      8697|        tv|false|
+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
only showing top 20 rows

In [33]:
df_pyspark_hdr.columns

['no.',
 'id',
 'original_title',
 'original_language',
 'release_date',
 'popularity',
 'vote_average',
 'vote_count',
 'media_type',
 'adult']

In [34]:
df_pyspark_hdr.head(1)

[Row(no.=0, id=638974, original_title='Murder Mystery 2', original_language='English', release_date='2023-03-26', popularity=235.901, vote_average=6.8, vote_count=187, media_type='movie', adult=False)]

In [37]:
df_pyspark_hdr.select(["id","original_title"]).show()

+-------+--------------------+
|     id|      original_title|
+-------+--------------------+
| 638974|    Murder Mystery 2|
| 677179|           Creed III|
| 726759|              Tetris|
|  76600|Avatar: The Way o...|
| 849869|              길복순|
| 603692|John Wick: Chapter 4|
| 493529|Dungeons & Dragon...|
| 932430|           Prom Pact|
|  95558|                null|
| 816904|              Momias|
| 514999|      Murder Mystery|
|1049638|            Rye Lane|
| 739405|Operation Fortune...|
| 158876|                null|
| 921355|            Assassin|
| 117465|                null|
| 933419|           Champions|
| 208891|                null|
| 878375|On a Wing and a P...|
|  82856|                null|
+-------+--------------------+
only showing top 20 rows

In [40]:
df_pyspark_hdr.select(['id']).show()

+-------+
|     id|
+-------+
| 638974|
| 677179|
| 726759|
|  76600|
| 849869|
| 603692|
| 493529|
| 932430|
|  95558|
| 816904|
| 514999|
|1049638|
| 739405|
| 158876|
| 921355|
| 117465|
| 933419|
| 208891|
| 878375|
|  82856|
+-------+
only showing top 20 rows

In [41]:
# check datatypes
df_pyspark_hdr.dtypes

[('no.', 'int'),
 ('id', 'int'),
 ('original_title', 'string'),
 ('original_language', 'string'),
 ('release_date', 'string'),
 ('popularity', 'double'),
 ('vote_average', 'double'),
 ('vote_count', 'int'),
 ('media_type', 'string'),
 ('adult', 'boolean')]

In [43]:
df_pyspark_hdr.describe().show()

+-------+-----------------+-----------------+--------------+-----------------+------------+-----------------+-----------------+-----------------+----------+
|summary|              no.|               id|original_title|original_language|release_date|       popularity|     vote_average|       vote_count|media_type|
+-------+-----------------+-----------------+--------------+-----------------+------------+-----------------+-----------------+-----------------+----------+
|  count|            16080|            16080|         12060|            16080|       12060|            16080|            16080|            16080|     16080|
|   mean|           8039.5|        575838.65|          null|             null|        null|934.2619999999683|7.536349999999667|          1039.75|      null|
| stddev|4642.040499607904|327135.2476631671|          null|             null|        null|2229.935599390959|1.057306080756538|2326.961930457314|      null|
|    min|                0|            76600|      Assassin|          Chinese|  2019-05-25|           30.374|              4.8|                3|     movie|
|    max|            16079|          1049638|        길복순|            Spain|  2023-04-06|         10224.28|             10.0|             8697|        tv|
+-------+-----------------+-----------------+--------------+-----------------+------------+-----------------+-----------------+-----------------+----------+

In [9]:
# adding columns
df_pyspark_hdr.withColumn('test_col',df_pyspark_hdr['id']+3)

# to make it reflected as there is no inplace statement
df_newcol = df_pyspark_hdr.withColumn('test_col',df_pyspark_hdr['id']+3)

In [10]:
# drop the columns
df_dropcol = df_newcol.drop("test_col")

In [11]:
df_dropcol.columns

['no.',
 'id',
 'original_title',
 'original_language',
 'release_date',
 'popularity',
 'vote_average',
 'vote_count',
 'media_type',
 'adult']

In [12]:
# rename a column name

df_rename = df_dropcol.withColumnRenamed('no.','slno.')

In [13]:
df_rename.columns

['slno.',
 'id',
 'original_title',
 'original_language',
 'release_date',
 'popularity',
 'vote_average',
 'vote_count',
 'media_type',
 'adult']

In [59]:
# tutorial3 
# Dropping Columns
# dropping rows
# various parameter in dropping functionalities
# handling Missing Values by mean,median,mode

In [15]:
# dropping columns
df_rename.drop("slno.").show()

+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
|     id|      original_title|original_language|release_date|popularity|vote_average|vote_count|media_type|adult|
+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
| 638974|    Murder Mystery 2|          English|  2023-03-26|   235.901|         6.8|       187|     movie|false|
| 677179|           Creed III|          English|  2023-03-01|  1537.879|         7.2|       561|     movie|false|
| 726759|              Tetris|          English|  2023-03-15|    66.661|         7.7|       100|     movie|false|
|  76600|Avatar: The Way o...|          English|  2022-12-14|  10224.28|       7.742|      6335|     movie|false|
| 849869|              길복순|           Korean|  2023-02-17|    33.985|         6.9|        39|     movie|false|
| 603692|John Wick: Chapter 4|          English|  2023-03-22|  2569.508|       8.161|       635|     movie|false|
| 493529|Dungeons & Dragon...|          English|  2023-03-23|   702.523|       7.598|       128|     movie|false|
| 932430|           Prom Pact|          English|  2023-03-30|    85.403|         8.0|        10|     movie|false|
|  95558|                null|          English|        null|    64.625|         8.0|         8|        tv|false|
| 816904|              Momias|            Spain|  2023-01-05|   1224.45|       7.008|        64|     movie|false|
| 514999|      Murder Mystery|          English|  2019-05-25|   197.421|       6.252|      3642|     movie|false|
|1049638|            Rye Lane|          English|  2023-03-17|    30.374|       7.778|        18|     movie|false|
| 739405|Operation Fortune...|          English|  2023-01-04|   184.229|       6.721|       297|     movie|false|
| 158876|                null|          Chinese|        null|    58.304|         8.4|         9|        tv|false|
| 921355|            Assassin|          English|  2023-03-31|    80.805|         4.8|        11|     movie|false|
| 117465|                null|         Japanese|        null|    62.392|        10.0|         4|        tv|false|
| 933419|           Champions|          English|  2023-03-09|   104.315|       6.512|        43|     movie|false|
| 208891|                null|         Japanese|        null|    59.825|       8.667|         3|        tv|false|
| 878375|On a Wing and a P...|          English|  2023-04-06|    53.714|         8.0|         4|     movie|false|
|  82856|                null|          English|        null|  1108.646|       8.488|      8697|        tv|false|
+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
only showing top 20 rows

In [23]:
#to remove the rows holding null value
df_pyspark.na.drop()

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string]

In [27]:
#to remove the rows holding null value
df_pyspark_hdr.na.drop(how = "all",thresh=2).show()

+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
| no|     id|      original_title|original_language|release_date|popularity|vote_average|vote_count|media_type|adult|
+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
|  0| 638974|    Murder Mystery 2|          English|  2023-03-26|   235.901|         6.8|       187|     movie|false|
|  1| 677179|           Creed III|          English|  2023-03-01|  1537.879|         7.2|       561|     movie|false|
|  2| 726759|              Tetris|          English|  2023-03-15|    66.661|         7.7|       100|     movie|false|
|  3|  76600|Avatar: The Way o...|          English|  2022-12-14|  10224.28|       7.742|      6335|     movie|false|
|  4| 849869|              길복순|           Korean|  2023-02-17|    33.985|         6.9|        39|     movie|false|
|  5| 603692|John Wick: Chapter 4|          English|  2023-03-22|  2569.508|       8.161|       635|     movie|false|
|  6| 493529|Dungeons & Dragon...|          English|  2023-03-23|   702.523|       7.598|       128|     movie|false|
|  7| 932430|           Prom Pact|          English|  2023-03-30|    85.403|         8.0|        10|     movie|false|
|  8|  95558|                null|          English|        null|    64.625|         8.0|         8|        tv|false|
|  9| 816904|              Momias|            Spain|  2023-01-05|   1224.45|       7.008|        64|     movie|false|
| 10| 514999|      Murder Mystery|          English|  2019-05-25|   197.421|       6.252|      3642|     movie|false|
| 11|1049638|            Rye Lane|          English|  2023-03-17|    30.374|       7.778|        18|     movie|false|
| 12| 739405|Operation Fortune...|          English|  2023-01-04|   184.229|       6.721|       297|     movie|false|
| 13| 158876|                null|          Chinese|        null|    58.304|         8.4|         9|        tv|false|
| 14| 921355|            Assassin|          English|  2023-03-31|    80.805|         4.8|        11|     movie|false|
| 15| 117465|                null|         Japanese|        null|    62.392|        10.0|         4|        tv|false|
| 16| 933419|           Champions|          English|  2023-03-09|   104.315|       6.512|        43|     movie|false|
| 17| 208891|                null|         Japanese|        null|    59.825|       8.667|         3|        tv|false|
| 18| 878375|On a Wing and a P...|          English|  2023-04-06|    53.714|         8.0|         4|     movie|false|
| 19|  82856|                null|          English|        null|  1108.646|       8.488|      8697|        tv|false|
+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
only showing top 20 rows

In [29]:
# subset
df_pyspark_hdr.na.drop(how="any",subset=["original_title"]).show()

+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
| no|     id|      original_title|original_language|release_date|popularity|vote_average|vote_count|media_type|adult|
+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
|  0| 638974|    Murder Mystery 2|          English|  2023-03-26|   235.901|         6.8|       187|     movie|false|
|  1| 677179|           Creed III|          English|  2023-03-01|  1537.879|         7.2|       561|     movie|false|
|  2| 726759|              Tetris|          English|  2023-03-15|    66.661|         7.7|       100|     movie|false|
|  3|  76600|Avatar: The Way o...|          English|  2022-12-14|  10224.28|       7.742|      6335|     movie|false|
|  4| 849869|              길복순|           Korean|  2023-02-17|    33.985|         6.9|        39|     movie|false|
|  5| 603692|John Wick: Chapter 4|          English|  2023-03-22|  2569.508|       8.161|       635|     movie|false|
|  6| 493529|Dungeons & Dragon...|          English|  2023-03-23|   702.523|       7.598|       128|     movie|false|
|  7| 932430|           Prom Pact|          English|  2023-03-30|    85.403|         8.0|        10|     movie|false|
|  9| 816904|              Momias|            Spain|  2023-01-05|   1224.45|       7.008|        64|     movie|false|
| 10| 514999|      Murder Mystery|          English|  2019-05-25|   197.421|       6.252|      3642|     movie|false|
| 11|1049638|            Rye Lane|          English|  2023-03-17|    30.374|       7.778|        18|     movie|false|
| 12| 739405|Operation Fortune...|          English|  2023-01-04|   184.229|       6.721|       297|     movie|false|
| 14| 921355|            Assassin|          English|  2023-03-31|    80.805|         4.8|        11|     movie|false|
| 16| 933419|           Champions|          English|  2023-03-09|   104.315|       6.512|        43|     movie|false|
| 18| 878375|On a Wing and a P...|          English|  2023-04-06|    53.714|         8.0|         4|     movie|false|
| 20| 638974|    Murder Mystery 2|          English|  2023-03-26|   235.901|         6.8|       187|     movie|false|
| 21| 677179|           Creed III|          English|  2023-03-01|  1537.879|         7.2|       561|     movie|false|
| 22| 726759|              Tetris|          English|  2023-03-15|    66.661|         7.7|       100|     movie|false|
| 23|  76600|Avatar: The Way o...|          English|  2022-12-14|  10224.28|       7.742|      6335|     movie|false|
| 24| 849869|              길복순|           Korean|  2023-02-17|    33.985|         6.9|        39|     movie|false|
+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
only showing top 20 rows

In [31]:
# fill the missing value

df_pyspark_hdr.na.fill("Missing Values",["original_title"]).show()

+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
| no|     id|      original_title|original_language|release_date|popularity|vote_average|vote_count|media_type|adult|
+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
|  0| 638974|    Murder Mystery 2|          English|  2023-03-26|   235.901|         6.8|       187|     movie|false|
|  1| 677179|           Creed III|          English|  2023-03-01|  1537.879|         7.2|       561|     movie|false|
|  2| 726759|              Tetris|          English|  2023-03-15|    66.661|         7.7|       100|     movie|false|
|  3|  76600|Avatar: The Way o...|          English|  2022-12-14|  10224.28|       7.742|      6335|     movie|false|
|  4| 849869|              길복순|           Korean|  2023-02-17|    33.985|         6.9|        39|     movie|false|
|  5| 603692|John Wick: Chapter 4|          English|  2023-03-22|  2569.508|       8.161|       635|     movie|false|
|  6| 493529|Dungeons & Dragon...|          English|  2023-03-23|   702.523|       7.598|       128|     movie|false|
|  7| 932430|           Prom Pact|          English|  2023-03-30|    85.403|         8.0|        10|     movie|false|
|  8|  95558|      Missing Values|          English|        null|    64.625|         8.0|         8|        tv|false|
|  9| 816904|              Momias|            Spain|  2023-01-05|   1224.45|       7.008|        64|     movie|false|
| 10| 514999|      Murder Mystery|          English|  2019-05-25|   197.421|       6.252|      3642|     movie|false|
| 11|1049638|            Rye Lane|          English|  2023-03-17|    30.374|       7.778|        18|     movie|false|
| 12| 739405|Operation Fortune...|          English|  2023-01-04|   184.229|       6.721|       297|     movie|false|
| 13| 158876|      Missing Values|          Chinese|        null|    58.304|         8.4|         9|        tv|false|
| 14| 921355|            Assassin|          English|  2023-03-31|    80.805|         4.8|        11|     movie|false|
| 15| 117465|      Missing Values|         Japanese|        null|    62.392|        10.0|         4|        tv|false|
| 16| 933419|           Champions|          English|  2023-03-09|   104.315|       6.512|        43|     movie|false|
| 17| 208891|      Missing Values|         Japanese|        null|    59.825|       8.667|         3|        tv|false|
| 18| 878375|On a Wing and a P...|          English|  2023-04-06|    53.714|         8.0|         4|     movie|false|
| 19|  82856|      Missing Values|          English|        null|  1108.646|       8.488|      8697|        tv|false|
+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+
only showing top 20 rows

In [35]:
# imputer function use
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols = ["vote_average","popularity","vote_count"],
    outputCols = ["{}_imputed".format(c) for c in ["vote_average","popularity","vote_count"]]
).setStrategy("mean")

In [36]:
# add imputation cols to df
imputer.fit(df_pyspark_hdr).transform(df_pyspark_hdr).show()

+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+--------------------+------------------+------------------+
| no|     id|      original_title|original_language|release_date|popularity|vote_average|vote_count|media_type|adult|vote_average_imputed|popularity_imputed|vote_count_imputed|
+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+--------------------+------------------+------------------+
|  0| 638974|    Murder Mystery 2|          English|  2023-03-26|   235.901|         6.8|       187|     movie|false|                 6.8|           235.901|               187|
|  1| 677179|           Creed III|          English|  2023-03-01|  1537.879|         7.2|       561|     movie|false|                 7.2|          1537.879|               561|
|  2| 726759|              Tetris|          English|  2023-03-15|    66.661|         7.7|       100|     movie|false|                 7.7|            66.661|               100|
|  3|  76600|Avatar: The Way o...|          English|  2022-12-14|  10224.28|       7.742|      6335|     movie|false|               7.742|          10224.28|              6335|
|  4| 849869|              길복순|           Korean|  2023-02-17|    33.985|         6.9|        39|     movie|false|                 6.9|            33.985|                39|
|  5| 603692|John Wick: Chapter 4|          English|  2023-03-22|  2569.508|       8.161|       635|     movie|false|               8.161|          2569.508|               635|
|  6| 493529|Dungeons & Dragon...|          English|  2023-03-23|   702.523|       7.598|       128|     movie|false|               7.598|           702.523|               128|
|  7| 932430|           Prom Pact|          English|  2023-03-30|    85.403|         8.0|        10|     movie|false|                 8.0|            85.403|                10|
|  8|  95558|                null|          English|        null|    64.625|         8.0|         8|        tv|false|                 8.0|            64.625|                 8|
|  9| 816904|              Momias|            Spain|  2023-01-05|   1224.45|       7.008|        64|     movie|false|               7.008|           1224.45|                64|
| 10| 514999|      Murder Mystery|          English|  2019-05-25|   197.421|       6.252|      3642|     movie|false|               6.252|           197.421|              3642|
| 11|1049638|            Rye Lane|          English|  2023-03-17|    30.374|       7.778|        18|     movie|false|               7.778|            30.374|                18|
| 12| 739405|Operation Fortune...|          English|  2023-01-04|   184.229|       6.721|       297|     movie|false|               6.721|           184.229|               297|
| 13| 158876|                null|          Chinese|        null|    58.304|         8.4|         9|        tv|false|                 8.4|            58.304|                 9|
| 14| 921355|            Assassin|          English|  2023-03-31|    80.805|         4.8|        11|     movie|false|                 4.8|            80.805|                11|
| 15| 117465|                null|         Japanese|        null|    62.392|        10.0|         4|        tv|false|                10.0|            62.392|                 4|
| 16| 933419|           Champions|          English|  2023-03-09|   104.315|       6.512|        43|     movie|false|               6.512|           104.315|                43|
| 17| 208891|                null|         Japanese|        null|    59.825|       8.667|         3|        tv|false|               8.667|            59.825|                 3|
| 18| 878375|On a Wing and a P...|          English|  2023-04-06|    53.714|         8.0|         4|     movie|false|                 8.0|            53.714|                 4|
| 19|  82856|                null|          English|        null|  1108.646|       8.488|      8697|        tv|false|               8.488|          1108.646|              8697|
+---+-------+--------------------+-----------------+------------+----------+------------+----------+----------+-----+--------------------+------------------+------------------+
only showing top 20 rows

In [38]:
#tutorial4 Dataframe
# filter Operation
# &,|,==
# ~

In [7]:
# reading new food file

df_food = spark.read.csv("fastfood.csv",header=True,inferSchema=True)

In [8]:
df_food.columns

['restaurant',
 'item',
 'calories',
 'cal_fat',
 'total_fat',
 'sat_fat',
 'trans_fat',
 'cholesterol',
 'sodium',
 'total_carb',
 'fiber',
 'sugar',
 'protein',
 'vit_a',
 'vit_c',
 'calcium',
 'salad']

In [9]:
# filter operations

In [10]:
# find food items whose cal is less than 100
df_food.filter("calories<=100").show()

+-----------+--------------------+--------+-------+---------+-------+---------+-----------+------+----------+-----+-----+-------+-----+-----+-------+-----+
| restaurant|                item|calories|cal_fat|total_fat|sat_fat|trans_fat|cholesterol|sodium|total_carb|fiber|sugar|protein|vit_a|vit_c|calcium|salad|
+-----------+--------------------+--------+-------+---------+-------+---------+-----------+------+----------+-----+-----+-------+-----+-----+-------+-----+
|Chick Fil-A|4 Piece Grilled C...|      70|     18|        2|    1.0|      0.0|         35|   220|         1|    0|    0|     13|    0|    6|      0|Other|
|      Sonic|Ultimate Chicken ...|     100|    580|       64|   15.0|      0.5|        100|  2070|        65|    4|   12|     39|   15|    8|     30|Other|
|      Arbys|  Chopped Side Salad|      70|     45|        5|    2.5|      0.0|         15|   100|         4|    1|    2|      5|   35|   10|     10|Other|
|Dairy Queen|          Side Salad|      20|      0|        0|    0.0|      0.0|          0|    15|         5|    2|    3|      1|   50|   30|     15|Other|
|     Subway| Veggie Delite Salad|      50|     10|        1|    0.0|      0.0|          0|    65|         9|    4|    4|      3|   25|   45|      4|Other|
+-----------+--------------------+--------+-------+---------+-------+---------+-----------+------+----------+-----+-----+-------+-----+-----+-------+-----+

In [53]:
df_food.filter("calories<=100").select(["item"]).show()
df_food.filter(df_food["calories"]<=100).select(["item"]).show()

+--------------------+
|                item|
+--------------------+
|4 Piece Grilled C...|
|Ultimate Chicken ...|
|  Chopped Side Salad|
|          Side Salad|
| Veggie Delite Salad|
+--------------------+

+--------------------+
|                item|
+--------------------+
|4 Piece Grilled C...|
|Ultimate Chicken ...|
|  Chopped Side Salad|
|          Side Salad|
| Veggie Delite Salad|
+--------------------+

In [51]:
# multiple filters

df_food.filter((df_food["cal_fat"]<=5) |
                 (df_food["total_fat"]<=5)
            ).select(["item"]).show()

+--------------------+
|                item|
+--------------------+
|        Lobster Roll|
|4 Piece Grilled C...|
|6 Piece Grilled C...|
|8 piece Grilled C...|
|12 Piece Grilled ...|
|  Chopped Side Salad|
|Grilled Chicken G...|
|          Side Salad|
|Kids Mini Sub Bla...|
|"6"" Black Forest...|
| "6"" Carved Turkey"|
|"6"" Oven Roasted...|
|Kids Mini Sub Roa...|
|    "6"" Roast Beef"|
|   "6"" Subway Club"|
|"6"" Sweet Onion ...|
|Kids Mini Sub Tur...|
| "6"" Turkey Breast"|
|"6"" Turkey Breas...|
|Kids Mini Sub Veg...|
+--------------------+
only showing top 20 rows

In [56]:
# not
df_food.filter(~(df_food["cal_fat"]<=1000)).show()

+-----------+--------------------+--------+-------+---------+-------+---------+-----------+------+----------+-----+-----+-------+-----+-----+-------+-----+
| restaurant|                item|calories|cal_fat|total_fat|sat_fat|trans_fat|cholesterol|sodium|total_carb|fiber|sugar|protein|vit_a|vit_c|calcium|salad|
+-----------+--------------------+--------+-------+---------+-------+---------+-----------+------+----------+-----+-----+-------+-----+-----+-------+-----+
|  Mcdonalds|20 piece Buttermi...|    2430|   1270|      141|   24.0|      2.0|        475|  6080|       103|    2|    3|    186|    0|    2|      8|Other|
|Burger King|American Brewhous...|    1550|   1134|      126|   47.0|      8.0|        805|  1820|        21|    3|    7|    134|   NA|   NA|     NA|Other|
+-----------+--------------------+--------+-------+---------+-------+---------+-----------+------+----------+-----+-----+-------+-----+-----+-------+-----+

In [57]:
# tutorial 5 
# groupby and aggregate functions

In [58]:
df_food.printSchema()

root
 |-- restaurant: string (nullable = true)
 |-- item: string (nullable = true)
 |-- calories: integer (nullable = true)
 |-- cal_fat: integer (nullable = true)
 |-- total_fat: integer (nullable = true)
 |-- sat_fat: double (nullable = true)
 |-- trans_fat: double (nullable = true)
 |-- cholesterol: integer (nullable = true)
 |-- sodium: integer (nullable = true)
 |-- total_carb: integer (nullable = true)
 |-- fiber: string (nullable = true)
 |-- sugar: integer (nullable = true)
 |-- protein: string (nullable = true)
 |-- vit_a: string (nullable = true)
 |-- vit_c: string (nullable = true)
 |-- calcium: string (nullable = true)
 |-- salad: string (nullable = true)

In [61]:
# lowest /avg calories by restaurant
df_food.groupBy('restaurant').avg("calories").show()

+-----------+------------------+
| restaurant|     avg(calories)|
+-----------+------------------+
|     Subway| 503.0208333333333|
|  Taco Bell| 443.6521739130435|
|Chick Fil-A|384.44444444444446|
|Burger King| 608.5714285714286|
|      Arbys| 532.7272727272727|
|Dairy Queen| 520.2380952380952|
|  Mcdonalds| 640.3508771929825|
|      Sonic| 631.6981132075472|
+-----------+------------------+

In [64]:
# groupby find max calories by item or find max cholestrol by restaurant
df_food.groupBy("item").max("cholesterol").show()

+--------------------+----------------+
|                item|max(cholesterol)|
+--------------------+----------------+
|Loaded Italian Sa...|             100|
|Beefy Mini Quesad...|              25|
|      Chicken Deluxe|              75|
|   "6"" Subway Club"|              40|
|Cantina Power Bow...|              60|
|Roast Turkey Farm...|              55|
|Bacon & Cheese Wh...|              95|
|            Corn Dog|              20|
|Footlong Subway S...|              40|
|Steak Crunchy Che...|              50|
|Fiery Doritos® Lo...|              25|
|       Filet-O-Fish®|              40|
|  Black Bean Burrito|              10|
|Premium Asian Sal...|              95|
|Chalupa Supreme® ...|              40|
|Fresco Burrito Su...|              15|
| Triple Layer Nachos|               0|
|Mushroom & Swiss ...|             175|
|"6"" Steak and Ch...|              50|
|Chicken Spicy Che...|              55|
+--------------------+----------------+
only showing top 20 rows

In [66]:
# count item by restaurant
df_food.groupBy("restaurant").count().show()

+-----------+-----+
| restaurant|count|
+-----------+-----+
|     Subway|   96|
|  Taco Bell|  115|
|Chick Fil-A|   27|
|Burger King|   70|
|      Arbys|   55|
|Dairy Queen|   42|
|  Mcdonalds|   57|
|      Sonic|   53|
+-----------+-----+

In [ ]:
# example of Pyspark ML

In [11]:
from pyspark.ml.feature import VectorAssembler

featureassembler = VectorAssembler(
    inputCols = ["cal_fat","sat_fat"],
    outputCol = "Independent Feature"
)
# independent feature is input and output feature calories

In [12]:
output = featureassembler.transform(df_food)

In [13]:
output.show()

+----------+--------------------+--------+-------+---------+-------+---------+-----------+------+----------+-----+-----+-------+-----+-----+-------+-----+-------------------+
|restaurant|                item|calories|cal_fat|total_fat|sat_fat|trans_fat|cholesterol|sodium|total_carb|fiber|sugar|protein|vit_a|vit_c|calcium|salad|Independent Feature|
+----------+--------------------+--------+-------+---------+-------+---------+-----------+------+----------+-----+-----+-------+-----+-----+-------+-----+-------------------+
| Mcdonalds|Artisan Grilled C...|     380|     60|        7|    2.0|      0.0|         95|  1110|        44|    3|   11|     37|    4|   20|     20|Other|         [60.0,2.0]|
| Mcdonalds|Single Bacon Smok...|     840|    410|       45|   17.0|      1.5|        130|  1580|        62|    2|   18|     46|    6|   20|     20|Other|       [410.0,17.0]|
| Mcdonalds|Double Bacon Smok...|    1130|    600|       67|   27.0|      3.0|        220|  1920|        63|    3|   18|     70|   10|   20|     50|Other|       [600.0,27.0]|
| Mcdonalds|Grilled Bacon Smo...|     750|    280|       31|   10.0|      0.5|        155|  1940|        62|    2|   18|     55|    6|   25|     20|Other|       [280.0,10.0]|
| Mcdonalds|Crispy Bacon Smok...|     920|    410|       45|   12.0|      0.5|        120|  1980|        81|    4|   18|     46|    6|   20|     20|Other|       [410.0,12.0]|
| Mcdonalds|             Big Mac|     540|    250|       28|   10.0|      1.0|         80|   950|        46|    3|    9|     25|   10|    2|     15|Other|       [250.0,10.0]|
| Mcdonalds|        Cheeseburger|     300|    100|       12|    5.0|      0.5|         40|   680|        33|    2|    7|     15|   10|    2|     10|Other|        [100.0,5.0]|
| Mcdonalds|Classic Chicken S...|     510|    210|       24|    4.0|      0.0|         65|  1040|        49|    3|    6|     25|    0|    4|      2|Other|        [210.0,4.0]|
| Mcdonalds| Double Cheeseburger|     430|    190|       21|   11.0|      1.0|         85|  1040|        35|    2|    7|     25|   20|    4|     15|Other|       [190.0,11.0]|
| Mcdonalds|Double Quarter Po...|     770|    400|       45|   21.0|      2.5|        175|  1290|        42|    3|   10|     51|   20|    6|     20|Other|       [400.0,21.0]|
| Mcdonalds|       Filet-O-Fish®|     380|    170|       18|    4.0|      0.0|         40|   640|        38|    2|    5|     15|    2|    0|     15|Other|        [170.0,4.0]|
| Mcdonalds|Garlic White Ched...|     620|    300|       34|   13.0|      1.5|         95|   790|        48|    3|   11|     32|   10|   10|     35|Other|       [300.0,13.0]|
| Mcdonalds|Grilled Garlic Wh...|     530|    180|       20|    7.0|      0.0|        125|  1150|        48|    3|   11|     42|   10|   20|     35|Other|        [180.0,7.0]|
| Mcdonalds|Crispy Garlic Whi...|     700|    300|       34|    9.0|      0.0|         85|  1190|        67|    5|   11|     33|   10|   15|     35|Other|        [300.0,9.0]|
| Mcdonalds|           Hamburger|     250|     70|        8|    3.0|      0.0|         30|   480|        31|    2|    6|     13|    2|    2|      4|Other|         [70.0,3.0]|
| Mcdonalds|        Lobster Roll|     290|     50|        5|    1.5|      0.0|         65|   630|        35|    2|    3|     24|    4|    6|     15|Other|         [50.0,1.5]|
| Mcdonalds|Maple Bacon Dijon...|     640|    330|       36|   14.0|      1.5|        110|  1260|        40|    3|   10|     37|    6|   15|     15|Other|       [330.0,14.0]|
| Mcdonalds|Grilled Maple Bac...|     580|    190|       21|    8.0|      0.0|        135|  1890|        50|    3|   14|     48|    4|   30|     30|Other|        [190.0,8.0]|
| Mcdonalds|Crispy Maple Baco...|     740|    310|       35|    9.0|      0.5|         95|  1780|        69|    5|   14|     39|    4|   20|    290|Other|        [310.0,9.0]|
| Mcdonalds|           McChicken|     350|    130|       15|    3.5|      0.0|         40|   600|        40|    2|    5|     15|    2|    2|      4|Other|        [130.0,3.5]|
+----------+--------------------+--------+-------+---------+-------+---------+-----------+------+----------+-----+-----+-------+-----+-----+-------+-----+-------------------+
only showing top 20 rows

In [15]:
# independent feature is input and output feature calories
finalized_data = output.select("Independent Feature","calories")
finalized_data.show()

+-------------------+--------+
|Independent Feature|calories|
+-------------------+--------+
|         [60.0,2.0]|     380|
|       [410.0,17.0]|     840|
|       [600.0,27.0]|    1130|
|       [280.0,10.0]|     750|
|       [410.0,12.0]|     920|
|       [250.0,10.0]|     540|
|        [100.0,5.0]|     300|
|        [210.0,4.0]|     510|
|       [190.0,11.0]|     430|
|       [400.0,21.0]|     770|
|        [170.0,4.0]|     380|
|       [300.0,13.0]|     620|
|        [180.0,7.0]|     530|
|        [300.0,9.0]|     700|
|         [70.0,3.0]|     250|
|         [50.0,1.5]|     290|
|       [330.0,14.0]|     640|
|        [190.0,8.0]|     580|
|        [310.0,9.0]|     740|
|        [130.0,3.5]|     350|
+-------------------+--------+
only showing top 20 rows

In [17]:
#
from pyspark.ml.regression import LinearRegression
train_data,test_data = finalized_data.randomSplit([0.75,0.25])
regressor = LinearRegression(
    featuresCol = "Independent Feature", labelCol = "calories"
)
regressor = regressor.fit(train_data)

23/04/06 14:16:03 WARN Instrumentation: [4654a869] regParam is zero, which might cause numerical instability and overfitting.
23/04/06 14:16:04 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
23/04/06 14:16:04 WARN InstanceBuilder$NativeBLAS: Failed to load implementation from:dev.ludovic.netlib.blas.ForeignLinkerBLAS
23/04/06 14:16:04 WARN InstanceBuilder$NativeLAPACK: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK

In [18]:
## find coefficients

regressor.coefficients

DenseVector([1.6494, -3.802])

In [19]:
## intercepts

regressor.intercept

168.58514995757642

In [21]:
# prediction
pred_results = regressor.evaluate(test_data)

In [22]:
pred_results.predictions.show()

+-------------------+--------+------------------+
|Independent Feature|calories|        prediction|
+-------------------+--------+------------------+
|         [10.0,0.0]|      50|185.07910257107233|
|         [20.0,0.5]|     150|199.67207367704648|
|         [20.0,1.0]|     230|197.77109216952476|
|         [25.0,0.5]|     140|207.91904998379445|
|         [27.0,1.0]|     110| 209.3168589989719|
|         [40.0,2.0]|     320|226.95703438147308|
|         [54.0,1.5]|     130| 251.9495495478891|
|         [54.0,3.0]|     120|246.24660502532384|
|         [70.0,1.0]|     390|280.24085523700427|
|         [80.0,3.0]|     300| 289.1308818204132|
|         [80.0,4.0]|     170|285.32891880536977|
|         [90.0,4.5]|     240| 299.9218899113439|
|         [95.0,4.0]|     180| 310.0698477256136|
|        [100.0,4.0]|     270| 318.3168240323615|
|        [100.0,5.0]|     300| 314.5148610173181|
|        [100.0,5.0]|     370| 314.5148610173181|
|        [110.0,5.0]|     200|331.00881363081396|
|        [110.0,5.0]|     200|331.00881363081396|
|        [110.0,5.0]|     390|331.00881363081396|
|        [117.0,6.0]|     450|338.75261744521765|
+-------------------+--------+------------------+
only showing top 20 rows

/usr/local/lib/python3.8/dist-packages/pyspark/sql/context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [26]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(89.81407714518684, 14738.438380332924)